.page-background {
  background: rgb(204,204,204);
}

body {
  margin: 0;
  padding: 0;
}

.page-preview {
    background: white;
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

@media print {
  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color: white;
  }
  .page-background {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray;
  }
}

/* Center all content within a page */
.page {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    page-break-after: always;
    padding: 0;
}

/* A4 paper area */
/* Chrome has problems with page sizes given in metric units. Make the paper area slightly smaller to work around this. */
page[size="A4"] {
    width:  210mm; /* full: 210.0mm */
    height: 296mm; /* full: 297.0mm */
}

/* US letter area */
page[size="Letter"] {
    height:  8.5in;
    width: 11.0in;
}

page[size="25x35"] {
    width: 2.5in;
    height: 3.5in;
}
